.vs/*
packages/*

CrossPlatformApp/CrossPlatformApp.Infrastructure/obj/*
CrossPlatformApp/CrossPlatformApp.Infrastructure/bin/*

CrossPlatformApp/CrossPlatformApp/obj/*
CrossPlatformApp/CrossPlatformApp/bin/*

CrossPlatformApp/CrossPlatformApp.Android/obj/*
CrossPlatformApp/CrossPlatformApp.Android/bin/*

CrossPlatformApp/CrossPlatformApp.iOS/obj/*
CrossPlatformApp/CrossPlatformApp.iOS/bin/*

CrossPlatformApp/CrossPlatformApp.UWP/obj/*
CrossPlatformApp/CrossPlatformApp.UWP/bin/*

CrossPlatformApp/CrossPlatformApp.WPF/obj/*
CrossPlatformApp/CrossPlatformApp.WPF/bin/*